---
import '../global.css';
import OffCanvas from '../components/Off_canvas.astro';
import Footer from '../components/Footer.astro';
export interface Props {
	title: string;
	description?: string;
	openGraphTitle?: string;
	openGraphImage?: string;
	openGraphImageAlt?: string;
}

const { title, description, openGraphTitle, openGraphImage, openGraphImageAlt } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    {title}
  </title>
  <meta name="description" content={description}/>
  <link rel="icon" type="image/x-icon" href="/icons/favicon.ico" />
  <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/icons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#04384A">
  <meta name="msapplication-TileImage" content="/icons/ms-icon-144x144.png">
  <meta name="theme-color" content="#04384A">
  <meta property="og:image" content={openGraphImage}/>
  <meta property="og:image:alt" content={openGraphImageAlt}/>
  <meta property="og:title" content={openGraphTitle}/>
  <meta property="og:url" content={Astro.canonicalURL}>
  <meta property="og:site_name" content="24 hour RPG Challenge"/>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="24 hour RPG Challenge">
  <meta name="twitter:title" content={openGraphTitle}>
  <meta name="twitter:description" content={description}>
  <meta name="twitter:image:src" content={openGraphImage}>
  <meta name="twitter:domain" content={Astro.canonicalURL}>
</head>
<body>
	<slot />
  <OffCanvas client:load charityLogo="./src/images/Shelter-Logo-small.png" charityName="Shelter Charity Logo" link="https://www.justgiving.com/fundraising/24-Hour-RPG-Challenge"/>
  <Footer />
  <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
    <symbol id="icon-hexagonal" viewBox="0 0 32 32">
    <path d="M31.604 14.523l-6.524-11.298c-0.528-0.914-1.503-1.477-2.558-1.477h-13.047c-1.055 0-2.029 0.562-2.558 1.477l-6.523 11.298c-0.527 0.914-0.527 2.040 0 2.954l6.523 11.299c0.529 0.914 1.503 1.477 2.558 1.477h13.047c1.055 0 2.030-0.563 2.558-1.477l6.524-11.299c0.527-0.914 0.527-2.040 0-2.954z"></path>
    </symbol>
    </defs>
  </svg>
</body>
</html>

<style>

  html {
    font-family: var(--font-family);
    font-size: 100%;
    color: var(--black);
    background-color: var(--canvas);
  }

  body {
    margin: 0;
    /* background-color: #faf5ed; */
  }

  :global(h1) {
    font-size: var(--font-size-xl);
  }

  :global(h2) {
    font-size: var(--font-size-lg);
  }

  :global(code) {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
